<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      .float_button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px;
        color: white;
        background: blue;
        border-radius: 10%;
        font-size: large;
      }
    </style>
  </head>
  <body>
    <button class="float_button">
      <a target="_self" href="/upload.html">Upload A New Video</a>
    </button>
    <h3>{{ username }}, Your Previous Uploads</h3>
  </body>
</html>
